body {
  margin: 0;
}

.grid-container {
  padding: 10px;
  display: grid;
  background-color: lemonchiffon;
  grid-template-areas: /*กำหนดการจองพื้นที่*/
    "header header"
    "content sidebar"
    "footer footer";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 150px 200px 60px;
}

.grid {
  border: 1px solid black;
}
.header {
  grid-area: header;
}

.centent {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}
